on: [pull_request]
name: tests
jobs: 
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: r-lib/actions/setup-r@v1
      id: install-r  
    - name: Install dependencies
      run: install.packages(c("testthat", "stringr", "xml2")) #"sna" , "igraph", "DiagrammeR"))
      shell: Rscript {0}
    # - run: Rscript -e "getwd()"
    - run: Rscript tests/testthat.R
    #- uses: actions/checkout@master
    #- name: Test
    #  uses: skx/github-action-tester@master



