name: Transform

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
        with: 
          ref: ${{ github.ref }}
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install networkx lxml
      - id: files
        uses: jitterbit/get-changed-files@v1
      - name: Run transformation
        run: |
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [ "${changed_file: -9}" == "stemma.gv" ] || [ "${changed_file: -12}" == "metadata.txt" ] ; 
              then echo "Converting ${changed_file}."
              python ./transform/transformation.py ${changed_file} ; 
            fi
          done
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with: 
          commit_message: Auto-Generation TEI