name: Transform

on: 
  push: 
    branches:
      - main
    paths:
      - 'data/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
        with: 
          ref: ${{ github.ref }}
          # token: ${{ secrets.UPT }}
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install networkx lxml
      - name: Convert files
        run: |
          for file in ./data/*/*/* ; do
            if [ "${file: -9}" == "stemma.gv" ] || [ "${file: -12}" == "metadata.txt" ] ; 
              then echo "Converting ${file}."
              python ./transform/transformation.py ${file} ; 
            fi
          done
      # - name: Commit
      #   uses: stefanzweifel/git-auto-commit-action@v4
      #   with: 
      #     commit_message: Auto-Generation TEI
